body, html
{
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family:'Karla', sans-serif;
    line-height: 1.8em;
    font-weight: 400;
    color: #666;
}

.logo {
    height: 200px;
    width: 200px;
    z-index: 2;
    top: 0
}

.logo img {
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    width: 80px
}

.logo:hover img {
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1)
}

/* logo flip */
.flip-container{
    perspective:1000;
  }

  .flip-container:hover .flipper {
    transform: rotateY(180deg);
  }

  /*speed of transition*/
  .flipper{
    transition: 2s;
    transform-style: preserve-3d;
    position: relative;
  }

  .flip-container, .front, .back {
    width: 200px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
    background: gainsboro;

  }

.flex-center,
.hero,
.logo,
.features .row,
.modal,
.modal .modal-content {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.center-x,
.logo,
.modal .modal-close span {
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    position: absolute;
    left: 50%
}


.shift {
    max-width: 100% !important;
    width: 100% !important;
    text-align: center
}

.shift.clip span {
    display: inline-block;
    text-align: center
}

.shift.clip .word-shift {
    overflow: hidden;
    text-align: center
}

.shift.clip .word-shift:after {
    background-color: #FFF;;
    border-radius: 2px;
    content: '';
    height: 100%;
    width: 2px;
    right: 0;
    text-align: center
}

.shift.clip b {
    opacity: 0;
    text-align: center

}

.shift.clip b.is-visible {
    opacity: 1
}

.word-shift {
    display: inline-block;
    position: relative;
    text-align: center
}

.word-shift b {
    display: inline-block;
    white-space: nowrap;
    position: absolute;
    left: 0;
    top: 0
}

.word-shift b.is-visible {
    position: relative
}

.word-shift b {
    opacity: 0
}

.word-shift b.is-visible {
    opacity: 1
}

.hero {
    /* padding-top: 50%;
    position: middle; */
    /* top: 0%;
    left: 50%; */
    margin: 0;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%
}

.hero .button {
    margin-top: 30px
}

.screen-wrapper {
    max-width: 1800px;
    margin: auto;
    position: relative;
    overflow: hidden;
    z-index: 2;
    padding: 0 10%;
}

.screen-wrapper .screen {
    margin: 0 auto -140px;
    width: 1400px
}

.title {
    position: relative;
    max-width: 90%;
    text-align: center;
    margin: 0 0 0;
    line-height: normal;
    color: #FFF;
    font-size: 35px;
    width: 400px
}

.subtitle {
    margin: 16px 0 0 -4px;
    font-size: 12px
}

.subtitle img {
    position: relative;
    opacity: 0.4;
    width: 10px;
    left: 4px;
    top: 1px
}

.title.wide {
    width: 600px
}

.center-y,
.shift.clip .word-shift:after,
.overlay-left,
.overlay-right,
form .group label {
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    top: 50%
}


.parallax-window {
  min-height: 400px;
  width=100%
  margin: 0;
  background: transparent;
}

.parallax-container {
  min-height: 400px;
  width=100%
  /* height=100% */
  /* size=cover */
  padding: 0;
  background: transparent;

}


.img1,.img2,.img3
{
    position: relative;
    opacity:0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.img1
{
    background-image: url('./Images/img1.jpg');
    min-height:100%;
}
.img2
{
    background-image: url('./Images/img2.jpg');
    min-height:400px;
}
.img3
{
    background-image: url('./Images/img3.jpg');
    min-height:400px;
}
.section
{
    text-align: center;
    padding: 50px 80px;
}
.sec1
{
    background-color: #f4f4f4;
    color: #666;
}

.sec2
{
    background-color: #282e34;
    color: #ddd;
}

.txt
{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 32px;
    letter-spacing: 8px;
    text-transform:uppercase;
}
.txt .border
{
    background-color: #111;
    color: #fff;
    padding: 20px;

}
.txt .border.trans{
    background-color: transparent;
}



#timeline {
  display: flex;
  background-color: #031625;
}

.tl-bg {
  transform: translate3d(0, 0, 0);
  position: absolute;
  width: 100%; height: 100%;
  top: 0; left: 0;
  background-size: cover;
  background-position: center center;
  transition: filter 0.5s ease;
  filter: brightness(80%) contrast(80%) hue-rotate(100deg);
}

.tl-year {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  /* text-shadow:
  0.12em 0 black,
  0 0.12em black,
  -0.12em 0 black,
  0 -0.12em black,
  -0.12em -0.12em black,
  -0.12em 0.12em black,
  0.12em -0.12em black,
  0.12em 0.12em black; */

  p {
    font-family: 'Pathway Gothic One',Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 2rem;
    line-height: 0;
    font-weight: bold;
    /* text-shadow:
    0.12em 0 black,
    0 0.12em black,
    -0.12em 0 black,
    0 -0.12em black,
    -0.12em -0.12em black,
    -0.12em 0.12em black,
    0.12em -0.12em black,
    0.12em 0.12em black; */

  }
}

.tl-item {
  transform: translate3d(0, 0, 0);
  position: relative;
  width: 34%;
  height: 30vh;
  min-height: 400px;
  color: #fff;
  overflow: hidden;
  transition: width 0.5s ease;
  /* text-shadow:
  0.12em 0 black,
  0 0.12em black,
  -0.12em 0 black,
  0 -0.12em black,
  -0.12em -0.12em black,
  -0.12em 0.12em black,
  0.12em -0.12em black,
  0.12em 0.12em black; */

}
.tl-content {
  transform: translate3d(0, 0, 0) translateY(25px);
  position: relative;
  z-index: 999;
  text-align: center;
  margin: 0 1.618em;
  top: 55%;
  opacity: 0;

  h1 {
    font-family: 'Pathway Gothic One',Helvetica Neue,Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    color: #1779cf;
    font-size: 4rem;
    font-weight: bold;
    text-shadow:
      0.07em 0 black,
      0 0.07em black,
      -0.07em 0 black,
      0 -0.07em black;

  }
}

.tl-item:hover {
    width: 90%;
}

.tl-item:hover    .tl-content {
      opacity: 1;
      transform: translateY(0);
      transition: all 0.75s ease 0.5s;
    }
.tl-item:hover    .tl-bg {
      filter: blur(0px) brightness(100%) hue-rotate(0deg);
    }
}






.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
